@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Site is under construction</h1>
    <p>I am working hard to make this website filled with good content, stay tuned!</p>
</div>
